:host {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: pink !important;
}

.btn-primary{
  background-color: pink !important;
  border-color: pink !important;
}

.btn-primary:hover{
  background-color: 	#ffe9e9 !important;
}

body {font-family: Roboto, "Helvetica Neue", sans-serif; background-color: pink; }

.form{
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  padding: 2%;
  background: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}

html, body {
  height: 100vh;
  background-color: pink;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
